/* estilização geral da página */
body{
    background-color: #f0d2cf;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
}

/* estilização do conteúdo */
.container-text{
    color: black;
    font-size: 18px;
    text-align: justify;
    padding: 20px; 
    margin: 0 auto; 
    max-width: 600px; 
}

/* estilização da opçao voltar p/ a página anterior */
.opcao-voltar a{
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #F28585;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

/* cor de alteração da opção voltar */
.opcao-voltar a:hover {
    background-color: #007bff;
}